In [1]:
# Description: This program will scrap stock tickers from the web

In [3]:
# import the dependencies
import requests
import pandas as pd 
from bs4 import BeautifulSoup

In [23]:
# create two empty lists for the company names and tickers
company_Name = []
company_Ticker = []

In [5]:
# Get URL
URL = "https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A"

page = requests.get(URL)

In [6]:
# if response is 200, then request to the URL is working properly
page

In [8]:
# Parse the HTML text from page.text 
soup = BeautifulSoup(page.text, 'html.parser')

In [10]:
# select tags with TR and class: ts0
odd_rows = soup.find_all('tr', attrs={'class':'ts0'})

In [12]:
# same for ts1
even_rows = soup.find_all('tr', attrs={'class':'ts1'})

In [25]:
for i in odd_rows:
    row = i.find_all('td')
    company_Name.append(row[0].text.strip()) # Company name
    company_Ticker.append(row[1].text.strip()) # Company symbol

for i in even_rows:
    row = i.find_all('td')
    company_Name.append(row[0].text.strip()) # Company name
    company_Ticker.append(row[1].text.strip()) # Company symbol

In [30]:
# Create a function to scrape data
def scrape_stock_symbols(Letter):

    Letter = Letter.upper()
    # Get URL
    URL = "https://www.advfn.com/nyse/newyorkstockexchange.asp?companies="+Letter
    page = requests.get(URL)
    # Parse the HTML text from page.text 
    soup = BeautifulSoup(page.text, 'html.parser')
    # select tags with TR and class: ts0
    odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
    # same for ts1
    even_rows = soup.find_all('tr', attrs={'class':'ts1'})

    for i in odd_rows:
        row = i.find_all('td')
        company_Name.append(row[0].text.strip()) # Company name
        company_Ticker.append(row[1].text.strip()) # Company symbol

    for i in even_rows:
        row = i.find_all('td')
        company_Name.append(row[0].text.strip()) # Company name
        company_Ticker.append(row[1].text.strip()) # Company symbol
    
    return (company_Name, company_Ticker)

In [31]:
# test function
(temp_name, temp_ticker) = scrape_stock_symbols('b')
temp_name

['B C E',
 'B R T Realty Trust',
 'Badger Meter Inc.',
 'Baker Hughes',
 'Ball',
 'Banco Bilbao Arg',
 'Banco De Chile',
 'Banco Latino Americano',
 'Banco Santander',
 'Bancolombia',
 'Bank America Corp',
 'Bank Atlantic',
 '',
 'Bank of America Corp',
 '',
 'Bank of America Cp',
 'Bank of Montreal',
 'Bank of Nova Scotia',
 'Barclays',
 '',
 'Bard C R',
 'Barnes & Noble',
 'Basic Energy',
 'Baytex',
 '',
 'Bear Market Stars Linked to the Consumer',
 'Beazer',
 'Becton Dickinson',
 'Belden Cdt',
 'Bemis',
 'Berkley (w. R.) Corp.',
 'Berkshire Hath B',
 'Best Buy',
 'Bhp Billiton',
 'Big Lots Inc.',
 'Bio-rad Laboratories Cl B',
 '',
 'Bj Services',
 'Black Decker',
 'Blackrck Gl Op Eq',
 'Blackrock Ca Mun',
 'Blackrock Cal Mun Bd',
 'Blackrock Div Ach',
 'Blackrock Global Equity Income Trust',
 'Blackrock Long-term Municipal Advantage',
 'Blackrock Ny Muni Bd',
 '',
 'Blockbuster',
 'Blount',
 'Bluegreen',
 'Blyth S2',
 'Bnsf',
 'Boardwalk Pipeline',
 'Boeing',
 'Borg Warner',
 'Boston Properties',
 'Bowne & Co',
 'Bp',
 'Brandywine',
 '',
 '',
 'Bridges on Ten Comp',
 'Brinker',
 'Brinks Home Securit',
 'Brookdale Senior Lvg',
 'Brookfield Asset Mgt',
 'Brookfield Infrastru',
 'Brown Forman A',
 '',
 'Brush Engineered Mat',
 'Buckeye',
 'Buckeye Partners',
 'Buffer Notes Sp 500',
 'Bunge',
 'Burlington',
 'Bway Holdings',
 'B P Prudhoe Bay',
 'Babcock Brown Air',
 'Bairnco',
 'Baldor',
 '',
 'Banco Bradesco',
 'Banco Itau',
 'Banco Macro Bansud',
 'Banco Santander Chile',
 'Bancorpsouth',
 '',
 'Bank of America',
 'Bank of America',
 '',
 'Bank of America Corp.',
 'Bank of Hawaii',
 'Bank of N Y',
 'Bankof Am 5.50 Inter',
 '',
 '',
 'Barnes',
 'Barrick Gold',
 'Baxter',
 'Bb & T',
 'Bbva Banco Frances',
 'Bear Stearn Alerian',
 'Beckman Coulter',
 'Bed Bath & Beyond',
 'Belo',
 'Benchmark Electronic',
 'Berkshire Hath A',
 '',
 'Bg Foods (new)',
 'Bhp Billiton Sp',
 'Bill Barrett',
 'Bio-rad Laboratories Inc.',
 'Biovail',
 'Bjs Wholesale Club',
 'Black Hills',
 'Blackrock',
 'Blackrock Ca Mun2018',
 'Blackrock Dfnd Op Cr',
 '',
 'Blackrock High Income',
 'Blackrock Mun',
 'Blackrock Pfd Eq',
 'Blackstone Grp Lp Ut',
 'Blockbuster',
 '',
 'Bluelinx',
 'Bmc',
 'Boa',
 'Boca Resorts',
 'Borders',
 'Boston Beer',
 'Boston Scientific',
 'Boyd Gaming',
 'Brady',
 'Brasil Telecom',
 'Braskem',
 'Bridgepoint Educatio',
 'Briggs Stratton Dc',
 'Brinks',
 'British Sky',
 'Brookfield',
 'Brookfield Homes',
 'Brown & Brown',
 'Brown Forman B',
 'Brunswick',
 'Bt',
 'Buckeye Gp Holdings Lp',
 'Buckle',
 'Build a Bear Workshop',
 'Burger King Holdings',
 '']

In [32]:
# Get a list of everyletter in the alphabet
import string 
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [52]:
company_Name = []
company_Ticker = []
names = []
tickers = []

company_Name
company_Ticker

[]

In [54]:
# Loop through every letter in the alphabet to get all tickers and names from the site
for char in string.ascii_uppercase:
    # print(char)
    names.append(scrape_stock_symbols(char)[0])
    tickers.append(scrape_stock_symbols(char)[1])

In [59]:
# convert list of lists into a single list
stockNames = [item for sublist in names for item in sublist]
stocktickers = [item for sublist in tickers for item in sublist]

In [62]:
# Create a dataframe that contains the company names and tickers
data = pd.DataFrame(columns=['stockNames', 'stockTickers'])
data['stockNames'] = stockNames
data['stockTickers'] = stocktickers
# show data
data

          stockNames stockTickers
0          A K Steel          AKS
1     A M R Cp 7.875          AAR
2              A a R          AIR
3        Aaron Rents        RNT.A
4        Aarons Cl A        AAN.A
...              ...          ...
2455            Zale          ZLC
2456          Zenith          ZNT
2457
2458          Zapata          ZAP
2459             Zep          ZEP

[2460 rows x 2 columns]

In [63]:
# clean data of empty spots
data = data[data['stockNames'] != '']
# show it
data

            stockNames stockTickers
0            A K Steel          AKS
1       A M R Cp 7.875          AAR
2                A a R          AIR
3          Aaron Rents        RNT.A
4          Aarons Cl A        AAN.A
...                ...          ...
2453  Yamana Gold Inc.          AUY
2455              Zale          ZLC
2456            Zenith          ZNT
2458            Zapata          ZAP
2459               Zep          ZEP

[2167 rows x 2 columns]

In [ ]:
# this needs to be redone to include a time.sleep function to create pauses when scraping, other wise the site will kick out the scraper!